body {
    background-image: url("Resources/default-bg.webp");
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
}

#locationBox {
    width: 445px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 8px;
    background-color:steelblue;
}

#searchLocation {
    width: 66%;
    margin-right: 70px;
    border-radius: 5px;
}

#searchButton {
    width: 60px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: steelblue;
}

#searchButton:hover {
    background-color: steelblue;
    color: whitesmoke;
}

#cityName {
    margin: 0 auto;
}

.weatherDisplayBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 2px solid black;
    width: 455px;
    height: 550px;
    margin: 0 auto;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: steelblue;
}

.displayGrid {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
}

.gridImg {
    display: grid;
    justify-content: center;
    justify-items: center;
}

#gridItem1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border-bottom: 1px solid black;
}

#gridItem2, #gridItem3 {
    border-right: 1px solid black;
}

#currentTemp, #secondTemp, #thirdTemp, #fourthTemp {
    font-size: 40px;
    margin: 0 auto;
    font-family: 'Gill Sans';
    color: whitesmoke;
    text-shadow:0 0 5px black;
}

.weatherHeader {
    font-size: 33px;
    margin: 0 auto;
    font-family: 'Gill Sans';
    color:whitesmoke;
    text-shadow:0 0 8px black;
}

#cityName {
    font-size: 48px;
    text-decoration: underline;
    margin: 0 auto;
    font-family: 'Gill Sans';
    color: whitesmoke;
    text-shadow:0 0 5px black;
}