#calc-grid {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 5px solid black;
    width: 450px;
    height: 600px;
}
button {
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 25px;
    background-color: darkgreen;
}
#display-box {
    display: grid;
    grid-column: 1 / 5 ;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: end;
    font-size: 40px;
    background-color: rgba(19, 18, 18, 0.902);
    color: whitesmoke;
}
#buttonEqual {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
}
#button0 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
#button1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}
#button2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
#button3 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
#button4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#button5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#button6 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
#button7 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#button8 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#button9 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
#buttonDiv {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}
#buttonMultiply {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}
#buttonAdd {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}
#buttonSub {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}
#buttonDecimal {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}